body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

#chat {
  background: #1e293b;
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
}
